name: Test

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'data/**'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: npm i --prefer-offline
      - name: Test
        run: npm run test
